{% extends "admin/change_list.html" %}
{% block content_title %}
  {{ block.super }}
  <div class="pipeline-chips">
    <a href="?" class="{% if not request.GET.status__exact %}active{% endif %}"><b>{{ email_total }}</b><span>All emails</span></a>
    {% for chip in status_chips %}
      <a href="?status__exact={{ chip.status }}" class="{% if request.GET.status__exact == chip.status %}active{% endif %}"><b>{{ chip.count }}</b><span>{{ chip.label }}</span></a>
    {% endfor %}
    <a><b>{% if open_rate is not None %}{{ open_rate }}%{% else %}-{% endif %}</b><span>Open rate</span></a>
  </div>
{% endblock %}
